name: 03 - CI/CD Pipeline for Master Branch

on:
#  workflow_run:
#    workflows: ["02 - CI/CD Pipeline for UAT Branch"]
#    types:
#      - completed
  workflow_dispatch:
    inputs:
      version:
        description: 'The type of version change: major, minor, patch'
        required: true

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
  
env:
  MAVEN_CLI_OPTS: "-B -V"

jobs:
  rebase_master:
    runs-on: ubuntu-latest
#    environment: 'REBASE_PROD'
    permissions: write-all

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0  # Needed for rebasing

      - name: Rebase master branch
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git checkout uat
          git pull
          git checkout master
          git pull
          git rebase uat
        env:
          GIT_TOKEN: ${{ secrets.MY_OTHER_TOKEN }}

      - name: Push changes to master
        run: |
          git push origin master
        env:
          GIT_TOKEN: ${{ secrets.MY_OTHER_TOKEN }}

  create_tag:
    needs: rebase_master
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - uses: actions/checkout@v2
      - name: Bump version and push tag
        run: |
          git fetch --tags
          VERSION_CHANGES="${{ github.event.inputs.version }}"
          
          LAST_TAG=$(git tag -l --sort=-v:refname | head -n 1)
          MAJOR=$(echo $LAST_TAG | cut -d . -f1 | cut -c 2- )
          MINOR=$(echo $LAST_TAG | cut -d . -f2)
          PATCH=$(echo $LAST_TAG | cut -d . -f3)
          
          case $VERSION_CHANGES in 
              "major" )
                  MAJOR=$((MAJOR + 1))
                  MINOR=0
                  PATCH=0
              ;;
              "minor" )
                  MINOR=$((MINOR + 1))
                  PATCH=0
              ;;
              "patch" )
                  PATCH=$((PATCH + 1))
              ;;
          esac
          NEW_TAG="$MAJOR.$MINOR.$PATCH"
          echo "Bumping $LAST_TAG to $NEW_TAG"
          
          git tag $NEW_TAG
          git push origin $NEW_TAG

  deploy_master:
    needs: create_tag
    runs-on: ubuntu-latest
    environment: 'DEPLOY_PROD'
    permissions: write-all

    steps:
      - uses: actions/checkout@v3

      - name: Deploy to prod
        run: echo "Deploying to prod"
