name: CI/CD Pipeline

on:
  push:
    branches:
      - dev

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
  
env:
  MAVEN_CLI_OPTS: "-B -V"

jobs:
  rebase_master:
    needs: deploy_uat
    runs-on: ubuntu-latest
    environment: 'REBASE_PROD'
    permissions: write-all

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0  # Needed for rebasing

      - name: Rebase master branch
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git checkout uat
          git pull
          git checkout master
          git pull
          git rebase uat
        env:
          GIT_TOKEN: ${{ secrets.MY_OTHER_TOKEN }}

      - name: Push changes to master
        run: |
          git push origin master
        env:
          GIT_TOKEN: ${{ secrets.MY_OTHER_TOKEN }}

  deploy_master:
    needs: rebase_master
    runs-on: ubuntu-latest
    environment: 'DEPLOY_PROD'
    permissions: write-all

    steps:
      - uses: actions/checkout@v3

      - name: Deploy to prod
        run: echo "Deploying to prod"
